* {
  box-sizing: border-box;
}

body {
  background-image: url(img/bg.jpg);
}

.answer1, .answer2, .answer3, .answer4 {
  visibility: hidden;
  width: 250px;
  margin: 5px;
}

.try-again {
  visibility: hidden;
}

.finish {
  display: none;
  margin-top: 1vh;
}

.question-btn {
  visibility: hidden;
}

.heading-div {
  margin-top: 2vh;
}

.btn:focus, .btn:active {
  outline: none;
  box-shadow: none;
}

.question-text {
  color: darkblue;
}

.answer-buttons {
  display: flex;
  flex-direction: column;
}

.timer {
  color: darkgrey;
  visibility: hidden;
}

@keyframes shake {
  0% { transform: translate(0px, 0px) rotate(0deg); }
  3% { transform: translate(-1px, -2px) rotate(-1deg); }
  6% { transform: translate(-3px, 0px) rotate(1deg); }
  9% { transform: translate(3px, 2px) rotate(0deg); }
  12% { transform: translate(1px, -1px) rotate(1deg); }
  15% { transform: translate(-1px, 2px) rotate(-1deg); }
  18% { transform: translate(-3px, 1px) rotate(0deg); }
  21% { transform: translate(3px, 1px) rotate(-1deg); }
  24% { transform: translate(-1px, -1px) rotate(1deg); }
  27% { transform: translate(1px, 2px) rotate(0deg); }
  30% { transform: translate(0px, 0px) rotate(0deg); }
  100% { transform: translate(0px, 0px) rotate(0deg); }
}

@media (max-width: 600px) {
  html {
    font-size: 70%;
  }
}
