* {
  box-sizing: border-box;
}

.answer1, .answer2, .answer3, .answer4 {
  visibility: hidden;
  width: 250px;
  margin: 5px;
}

.try-again {
  visibility: hidden;
}

.finish {
  display: none;
  margin-top: 1vh;
}

.question-btn {
  visibility: hidden;
}

.heading-div {
  margin-top: 2vh;
}

.btn:focus, .btn:active {
  outline: none;
  box-shadow: none;
}

.question-text {
  color: darkblue;
}

.answer-buttons {
  display: flex;
  flex-direction: column;
}

.timer {
  color: darkgrey;
  visibility: hidden;
}

@media (max-width: 600px) {
  html {
    font-size: 70%;
  }
}
